html{position:static;overflow-y:hidden;height:100%;max-height:100%}body{background-color:#aaaaff;margin:0px;padding:0px;height:100%;width:100%;overflow:hidden}*{-webkit-touch-callout:none;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}

